@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

.neonText {
    font-family: 'Yellowtail', cursive;
    color: #fff;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #5271ff,
    0 0 82px #5271ff,
    0 0 92px #5271ff,
    0 0 102px #5271ff,
    0 0 151px #5271ff;
    font-size: 2.2rem;
    margin: 3% 0%;
}